.carddiv{
    width: 600px;
    height: 500px;
    margin: auto;
   margin-top: 30px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px 10px #888888;
}

.logoimg{
    object-fit: fill;
    width: 100%;
    border-radius: 30px;
    height: 50px;
}

.author{
    margin-left: 10px;
    margin-top: 7px;
    color: crimson;
   
}

.cover_photo{
    height: 250px;
}

.butt{
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 30px;
    background-color: cyan;
}

Link{
    display: block;
    text-decoration: overline;

}

.loginbtn{
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: chocolate;
    border-radius: 6px;
    color: white;
}