.searchdiv{
    width: 400px;
    height: 30px;
    border: 1px solid black;
    margin:30px auto;
    border-radius: 10px;
    background-color: #EF5350;
     padding-top: 5px;
}

.input{
    outline: none;
    border: none;
       background-color:  #EF5350;
     color: white;
}